<template>
  <div class="container">
    <div class="top">
      <img :src="require('@/assets/img/logo-main.svg')" class="w-full" />
    </div>
    <div class="wrapper">
      <div class="inputs relative">
        <label for="code">Input Barcode by scanning or typing</label>
        <input
          v-model="code"
          name="code"
          type="text"
          placeholder="Product Code"
        />
        <div class="absolute bottom-0 w-20 h-20 right-0" v-show="code">
          <Button @click="onDelete">X</Button>
        </div>
      </div>
      <div class="keypad">
        <Button
          v-for="num in [...numbers, 0]"
          :key="num"
          color="gray"
          @click="onPress(num)"
          ><span class="text-6xl">{{ num }}</span></Button
        >
        <div class="col-span-2">
          <Button @click="onSubmit"><span class="text-5xl">enter</span></Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { Button } from "@/components";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import api from "@/API";
export default defineComponent({
  components: {
    Button,
  },
  setup() {
    // 20840221
    const store = useStore();
    const router = useRouter();
    const numbers = [...Array(10).keys()].splice(1);
    const code = ref<string>('');
    const isReaderInput = ref<boolean>(false);

    const onPress = (val: string) => {
      code.value += val.toString() ;
    };

    const onDelete = () => {
      clearInput();
    };

    const clearInput = () => {
      code.value = "";
    };

    const onSubmit = () => {
      fetchProduct();
    };

    const fetchProduct = async () => {
      try {
        const barcode = code.value;
        if (!barcode) return;
        store.commit('setIsLoading', true)
        
        const result = await api.fetchProductDetail(barcode);
        if (result.response) {
          store.commit("setProduct", result.response);
          router.push('/product')
        }
      } catch (err) {
        console.log(err);
      } finally {
        store.commit('setIsLoading', false)
      }
    };

    onMounted(() => {
      // mount barcode input listener
      window.addEventListener("keypress", (e) => {
        if (!isReaderInput.value) {
          clearInput();
        }

        if (typeof parseInt(e.key) === "number" && e.key !== "Enter") {
          isReaderInput.value = true;
          onPress(e.key);
        } else {
          isReaderInput.value = false;
          fetchProduct()
          // fetch product
        }
      });
    });

    return { numbers, onPress, onSubmit, onDelete, code };
  },
});
</script>

<style lang="postcss" scoped>
.container {
  @apply flex flex-col h-full w-8/12 md:w-5/12 max-w-2xl mx-auto space-y-10 justify-center items-center my-0 py-20;

  .top {
    @apply w-full h-1/4 flex items-center;
  }

  .wrapper {
    @apply w-full h-3/4 flex-grow flex flex-col;
  }
}

.inputs {
  @apply flex flex-col mb-7;

  label {
    @apply uppercase font-semibold pb-2 text-gray-700 text-2xl;
  }

  input {
    @apply px-4 py-4 text-4xl bg-gray-100 h-20 outline-none focus:ring-4 focus:ring-main transition-all;
  }
}

.keypad {
  @apply grid grid-cols-3 gap-2 flex-grow;
}
</style>

function uesRouter() { throw new Error("Function not implemented."); }
