<template>
  <div class="container" v-if="product">
    <div class="topbar">
      <img :src="require('@/assets/img/logo-bar.svg')" class="w-full h-full" />
    </div>
    <div class="back">
      <Button @click="goBack"><Fa icon="arrow-left" /></Button>
    </div>
    <div class="main">
      <div class="top">
        <div class="images">
          <img :src="productImages[selectedImageIndex]" />
          <img v-for="(image, index) in productImages" :key="image" :src="image" @click="onSelectProductImages(index)"/>
        </div>
        <div class="product space-y-7">
          <!-- name -->
          <div class="space-y-2">
            <p class="text-2xl my-2 text-main">{{ product.brand_name }}</p>
            <p class="text-3xl font-bold">{{ product.product_name }}</p>
            <p class="text-lg font-semibold">{{ product.category_name }}</p>
          </div>

          <!-- price -->
          <div>
            <span class="text-2xl font-bold">${{ product.price }}</span>
          </div>

          <!-- stock -->
          <div class="flex items-center space-x-5">
            <div class="font-semibold text-sm">Selected<br />Size</div>
            <div class="uppercase text-5xl font-semibold text-main">
              {{ size.selectedSize.size_name }}
            </div>
            <StockIndicator :status="size.selectedSize.qty > 0" />
          </div>

          <!-- other stock -->
          <div class="w-48">
            <div class="h-16">
              <Button size="sm" @click="findStoresForSize"
                ><span class="text-lg">available Stores</span></Button
              >
            </div>
          </div>

          <p class="text-sm">Please contact our staff for further assistance</p>

          <hr />

          <div class="w-3/4 space-y-3">
            <div class="flex justify-between">
              <span class="text-xl font-bold">Size</span
              ><span
                class="
                  text-main
                  cursor-pointer
                  transition-all
                  hover:text-main-dark
                "
                >Size Chart</span
              >
            </div>
            <ul class="grid grid-cols-4 gap-2">
              <li
                class="sizeOption"
                :class="{
                  active: size.selectedSize.size_name === size_name,
                  outstock: qty <= 0,
                }"
                v-for="{ size_name, pid, qty } in product.options"
                :key="pid"
                @click="onSelectSize(pid)"
              >
                <span>{{ size_name }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="body">
        <h2>product details</h2>
        <div>
          <h3>Brand</h3>
          <p>{{ product.product_desc }}</p>
        </div>
      </div>
    </div>
  </div>
  <Modal :show="showStockListModal" @close="showStockListModal = false">
    <template #heading>available stores</template>
    <template #body>
      <div class="flex h-full flex-col px-8 pt-4 space-y-7">
        <div class="flex h-52 space-x-10">
          <img
            class="h-full max-w-xs object-contain"
            :src="productImages[0]"
          />
          <div>
            <div class="space-y-1 mb-4">
              <p class="text-2xl my-1 text-main">{{ product.brand_name }}</p>
              <p class="text-3xl font-bold">{{ product.product_name }}</p>
              <p class="text-lg font-semibold">{{ product.subcateogry_name }}</p>
            </div>

            <!-- price -->
            <div>
              <span class="text-2xl font-bold">${{ product.price }}</span>
            </div>

            <!-- stock -->
            <div class="flex items-center space-x-5">
              <div class="font-semibold text-sm">Selected<br />Size</div>
              <div class="uppercase text-5xl font-semibold text-main">
                {{ size.selectedSize.size_name }}
              </div>
              <StockIndicator :status="product.qty > 0" />
            </div>
          </div>
        </div>
        <hr />
        <div class="flex-grow overflow-y-auto">
          <table class="w-full">
            <thead class="text-xl text-main capitalize">
              <tr>
                <th class="text-left">Store location</th>
                <th>Stock</th>
              </tr>
            </thead>
            <tbody>
              <template
                v-for="{ shop_name, shop_address, qty } in shops"
                :key="shop_name"
              >
                <tr>
                  <td>
                    <div class="flex flex-col my-2">
                      <p class="text-xl font-semibold">{{ shop_name }}</p>
                      <p>{{ shop_address }}</p>
                    </div>
                  </td>
                  <td>
                    <div class="flex justify-center items-center">
                      <StockIndicator :status="qty > 0" />
                    </div>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onMounted,
  reactive,
  ref,
  ComputedRef
} from "vue";
import { Button, Modal, StockIndicator } from "@/components";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import { Product, SizeOption, Store } from "@/typings";
import API from "@/API";

interface Size {
  id: string
  onStock: ComputedRef<boolean>
  selectedSize: ComputedRef<SizeOption>
}

export default defineComponent({
  components: {
    Button,
    Modal,
    StockIndicator,
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const product: Product = store.state.product;
    const productImages = product.product_images ? JSON.parse(product.product_images) : []
    const selectedImageIndex = ref<number>(0)
    const showStockListModal = ref<boolean>(false);
    const shops = ref<Store>()
    const size: any = reactive({
      id: product.pid,
      onStock: computed(() => {
        return size.selectedSize.qty > 0;
      }),
      selectedSize: computed(() => {
        return product.options.find((o) => (o.pid === size.id)) ;
      }),
    });


    const onSelectProductImages = (index: number) => {
      selectedImageIndex.value = index
    } 

    const onSelectSize = (pid: string) => {
      size.id = pid;
    };
    const findStoresForSize = async () => {
      // API
      try {
        const res = await API.fetchStock(size.id)
        if (res.response) {
          shops.value = res.response
          showStockListModal.value = true;
        }
        
        
      } catch (e) {
        console.log(e);
      }
    };

    const goBack = () => {
      store.commit("setProduct", null);
      router.push("/");
    };

    onMounted(() => {
      onSelectSize(product.pid);
    });

    return {
      size,
      product,
      productImages,
      selectedImageIndex,
      onSelectSize,
      onSelectProductImages,
      findStoresForSize,
      goBack,
      showStockListModal,
      shops,
    };
  },
});
</script>
<style lang="postcss" scoped>
.container {
  @apply relative w-screen h-screen mx-auto;

  .topbar {
    @apply bg-black h-14 fixed top-0 left-0 right-0 flex justify-center items-center py-4;
  }

  .back {
    @apply fixed top-7 left-7 w-20 h-20;
  }
}

.main {
  @apply mx-auto w-full md:w-8/12 h-full pt-20;

  .top {
    @apply grid grid-cols-2 gap-6 mb-10;

    .images {
      @apply grid grid-cols-3 gap-2 auto-rows-min cursor-pointer;

      img {
        aspect-ratio: 1;
        @apply object-cover;

        &:first-child {
          aspect-ratio: unset;
          @apply col-span-3 object-contain;
        }
      }
    }

    .product {
      @apply text-gray-800;

      .sizeOption {
        @apply h-10 ring-black ring-2 flex justify-center
        cursor-pointer items-center uppercase font-semibold text-xl
        transition-all;

        /* &.outstock {
          @apply opacity-50 bg-gray-200 ring-0;
        } */

        &:hover,
        &.active {
          @apply text-white bg-main ring-main;
        }

        &:hover:not(.active) {
          @apply bg-opacity-75;
        }
      }
    }
  }

  .body {
    h2 {
      @apply text-2xl text-center capitalize font-bold;
    }

    h3 {
      @apply text-xl relative pl-4 font-bold my-2;

      &:after {
        content: "";
        @apply absolute w-1 left-0 h-full bg-main;
      }
    }
  }
}
</style>
