<template>
  <div class="h-full w-full flex">
    <button :class="classname" @click="onClick"><slot /></button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  props: {
    color: {
      type: String,
      default: "",
    },
    size: {
      type: String,
      default: "",
    },
  },
  setup(props) {
    const classname = ref(`btn ${props.color} ${props.size}`);

    return { classname };
  },
});
</script>

<style lang="postcss" scoped>
.btn {
  @apply text-2xl w-full transform origin-top uppercase font-semibold text-white p-3 bg-main border-b-10 border-main-dark transition-all;

  &:active {
    @apply border-b-6;
  }

  &.gray {
    @apply bg-gray-500 border-gray-700;
  }

  &.sm {
    @apply p-2;
  }
}
</style>
