<template>
  <div v-if="show" class="modal-container">
    <div class="overlay" @click="$emit('close')" />
    <div class="main">
      <div class="heading"><slot name="heading" /></div>
      <div class="body"><slot name="body" /></div>
      <div class="close-btn">
        <Button @click="$emit('close')" size="sm"
          ><Fa :icon="['fas', 'times']"
        /></Button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { Button } from "@/components";

export default defineComponent({
  components: {
    Button,
  },
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
});
</script>

<style lang="postcss" scoped>
.modal-container {
  @apply absolute w-screen h-screen z-10 top-0 flex justify-center items-center;

  .overlay {
    @apply absolute w-full h-full bg-black opacity-40;
  }

  .main {
    @apply h-4/5 w-3/5 bg-white z-10 shadow-xl relative flex flex-col;

    .heading {
      @apply h-16 w-full
      flex items-center px-4 bg-black capitalize text-white text-3xl font-semibold;
    }

    .body {
      height: calc(100% - 4rem);
      @apply flex-grow;
    }

    .close-btn {
      @apply absolute top-8 right-8 w-14 h-14;
    }
  }
}
</style>
